@import "../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .progress-bar {
    flex-grow: 1;
    margin-right: 10px;
    height: 5px;
    background-color: #e0e0e0;

    .progress {
      height: 100%;
      background-color: $active-color;
    }
  }

  .question-number {
    font-size: 16px;
  }
}
